*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

h1{
    text-align: center;
    background-color: greenyellow;
    padding: 3rem;
}
.timer{
    text-align: center;
    margin-top: 3rem;
}

ul{
    list-style: none;
    display: flex;
    gap: 3rem;
    margin-top: 5rem;
    justify-content: center;
}

form{
    display: none;
    justify-content: center;
    margin-top: 3rem;
    text-align: center;
    display: m;

}

input{
    text-align: center;
    border-radius: 10px;
    margin-top: 1rem;
    
}

button{
    padding: 0.5rem;
    border-radius: 20px;
    margin-top: 1rem;
    background-color: greenyellow;
}